.container {
  background-color: #f7f8fa;
}

.button {
  background-color: #07c160;
  color: #fff;
}

.col {
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  padding: 25rpx;
  border-bottom: 1rpx #f7f8fa solid;
}

.col-group {
  margin: 20rpx;
}

.popup {
  height: 100%;
  width: 100%;
  background-color: rgba(76, 76, 76, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  >view {
    height: 500rpx;
    width: 500rpx;
    background-color: #07c160;
  }
}